<div class="flex flex-col">
  <div class="">
    <div class="flex justify-center m-6">
      <h1 class="font-black text-2xl">ADMIN</h1>
    </div>
    <div class="flex content-center">
      <div class="w-16">
        <img
          src="https://i.pinimg.com/564x/92/26/5c/92265c40c8e428122e0b32adc1994594.jpg"
          alt="..."
          class="rounded-full"
        />
      </div>
      <div class="flex flex-col ml-6 content-center">
        <span>Hello,</span>
        <h2>Khánh Nguyễn</h2>
      </div>
    </div>
    <br />
    <div class="mt-8 text-white">
      <div
        routerLink="/"
        routerLinkActive="bg-sky-700 text-white shadow-sm shadow-blue-200 border-r-8 border-teal-400"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer p-3 px-7 flex font-semibold hover:bg-blue-200/75 hover:shadow-sm hover:shadow-blue-200"
      >
        <p>DashBoard</p>
      </div>
      <div
        routerLink="/userList"
        routerLinkActive="bg-sky-700 shadow-sm shadow-blue-200 border-r-8 border-teal-400"
        class="cursor-pointer p-3 px-7 flex font-semibold hover:bg-blue-200/75"
      >
        <p>User List</p>
      </div>
      <div
        routerLink="/userAdd"
        routerLinkActive="bg-sky-800  shadow-sm shadow-blue-200 border-r-8 border-teal-400"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer p-3 px-7 flex font-semibold hover:bg-blue-200/75"
      >
        <p>Add User</p>
      </div>
    </div>
  </div>
</div>
