<div class="flex justify-center">
  <form
    (ngSubmit)="addUser(form)"
    #form="ngForm"
    class="space-y-3 p-5 rounded-lg"
  >
    <h1 class="font-black text-3xl text-center p-3">ADD USER</h1>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-2 col-span-2 text-l mr-3 my-auto"
        >First name:</label
      >
      <input
        type="text"
        class="col-span-7 py-1"
        [(ngModel)]="userData.firstname"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-2 col-span-2 text-l mr-3 my-auto"
        >Last name:</label
      >
      <input
        type="text"
        class="col-span-7 py-1"
        [(ngModel)]="userData.lastname"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-2 col-span-2 text-l mr-3 my-auto"
        >Email:</label
      >
      <input
        type="text"
        class="col-span-7 py-1"
        [(ngModel)]="userData.email"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-2 col-span-2 text-l mr-3 my-auto"
        >Phone:</label
      >
      <input
        type="tel"
        class="col-span-7 py-1"
        [(ngModel)]="userData.phone"
        [ngModelOptions]="{ standalone: true }"
        required
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-2 col-span-2 text-l mr-3 my-auto"
        >Date of birth:</label
      >
      <input
        type="date"
        class="col-span-7 py-1"
        [(ngModel)]="userData.DOB"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="grid grid-cols-12 font-semibold">
      <label for="" class="col-start-2 col-span-2 text-l mr-3 my-auto"
        >Status:</label
      >
      <div class="col-span-2">
        <input
          type="radio"
          name="status"
          class="py-1 rounded-lg"
          value="true"
          [(ngModel)]="userData.status"
        />Activated
      </div>
      <div class="col-span-2">
        <input
          type="radio"
          name="status"
          class="py-1 rounded-lg"
          value="false"
          [(ngModel)]="userData.status"
        />Suspended
      </div>
    </div>
    <button
      (click)="addUser(form)"
      class="px-4 py-1 rounded-sm bg-blue-600 text-white block mx-auto mt-4"
    >
      Submit
    </button>
  </form>
</div>
