<div
  class="col-span-4 group m-2 p-5 bg-blue-200 text-gray-700 rounded-lg shadow-sm hover:bg-blue-600 duration-200 transition hover:text-white hover:shadow-lg hover:-translate-y-1"
>
  <div class="grid grid-cols-12 col-span-4">
    <p class="col-span-2 text-center">
      {{ userData.firstname }} <span>{{ userData.lastname }}</span>
    </p>
    <p class="col-span-3 text-center">{{ hiddenEmail }}</p>
    <p class="col-span-2 text-center">{{ userData.phone }}</p>
    <p class="col-span-2 text-center">{{ userData.DOB }}</p>
    <p class="col-span-2 text-center" *ngIf="userData.status; else offline">
      <span
        class="relative inline-flex rounded-full h-3 w-3 bg-green-500"
      ></span>
      Activated
    </p>
    <ng-template #offline>
      <p class="col-span-2 text-center">
        <span
          class="relative inline-flex rounded-full h-3 w-3 bg-red-500"
        ></span>
        Suspended
      </p>
    </ng-template>
    <app-user-edit
      class="flex content-center"
      [userData]="userData"
    ></app-user-edit>
  </div>
</div>
