<div class="grid grid-cols-4 overflow-hidden min-h-screen">
  <div class="col-span-4 ml-auto w-full flex">
    <input
      type="text"
      class="m-6 bg-white rounded-sm w-full pl-8 py-1"
      [(ngModel)]="searchText"
      placeholder="Search..."
    />
  </div>
  <div
    class="col-span-4 mx-2 bg-blue-200 grid grid-cols-12 h-[3.25rem] font-semibold text-gray-600"
  >
    <button>Sort By:</button>
    <Button (click)="sortBy = 'firstname'" class="col-span-1">FullName</Button>

    <Button (click)="sortBy = 'email'" class="col-span-3">Email</Button>
    <Button (click)="sortBy = 'phone'" class="col-span-2">Phone</Button>
    <Button (click)="sortBy = 'DOB'" class="col-span-2">DOB</Button>
    <Button (click)="sortBy = 'status'; order = !order" class="col-span-1"
      >Status</Button
    >
  </div>
  <div
    class="col-span-4"
    *ngFor="
      let userData of usersData
        | orderBy: sortBy:order
        | filter: searchText
        | paginate: { itemsPerPage: maxItemsPerPage, currentPage: page }
    "
  >
    <app-user-detail [userData]="userData"></app-user-detail>
  </div>
  <div class="flex w-full col-span-4 justify-center">
    <pagination-controls
      class="mt-2"
      (pageChange)="page = $event"
    ></pagination-controls>
    <div class="flex mt-2 ml-4">
      <p>Display</p>
      <input
        type="number"
        [(ngModel)]="maxItemsPerPage"
        class="w-7 h-7 bg-gray-200 text-center mx-2"
      />
      <p>items per page</p>
    </div>
  </div>
</div>
